/*main page*/

[ui-view='map'] {
  float: left;
  width: 50%;
  height: 700px;
}

[ui-view='list'] {
  float: left;
  width: 50%;
  height: 700px;
}


/* LIST */
.cords-list {
  overflow: auto;
  height: 700px;
}

/* MAP */
#ng-map {
  height: 600px;
}

/* TABLE */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}