<div ng-controller="cordsListController">
  <h1>List</h1>
  <h5>Closest Markers will only show for extra added markers (extra markers display on bottom of list)</h5>
  <div>
    <button type="submit" name="cords" ng-click="setlist()">Load Data from Pct File</button>
  </div>
  <table>
    <tr>
      <th>Miles</th>
      <th>Lat</th>
      <th>Lon</th>
    </tr>
    <tr ng-repeat="cords in cordslist track by $index">
      <td>{{ cords[0] }}</td>
      <td>{{ cords[1] }}</td>
      <td>{{ cords[2] }}</td>
      <td>
        <input type="button" data-ng-click="delete($index)" value="Delete">
      </td>
    </tr>
  </table>
</div>